@charset "UTF-8";
.banner {
	background-repeat: no-repeat;
}
.banner img {
	width: 100%;
}
.hero {
	clear: both;
	text-align: center;
}
a {
	color: #000000;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: large;
	text-align: center;
	position: relative;
	left: 17px;
}
.hero ul li {
	clear: both;
	display: inline;
	padding-left: 60px;
	text-align: center;
}
.col-2, .col-3  {
	width: 50%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
li {
	list-style-type: none;
	text-align: center;
}
h4 {
	margin-bottom: -22px;
	text-align: center;
}
.p {
	clear: both;
	text-align: center;
}
.footer {
	clear: both;
	list-style-type: none;
	padding-top: 30px;
}
.col-3 {
	background-color: #3598DC;
}
.columns {
	display: table;
	width: 100%;
}
